{{define "footer"}}
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                    <h3>Made with ❤ for Cloudkite</h3>
            </span>
        </div> 
    </footer>
{{end}}